<mat-toolbar [class.menuRight]="menuPosition == ToolbarMenuPositionEnum.Right">
  <div class="menu">
    <button
      *ngIf="menuPosition != null"
      (click)="onButtonClick('menu')"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="content">
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <span *ngIf="title">{{ title + "_Label" | translate }}</span>
    <div><ng-content></ng-content></div>
  </div>

  <!-- <span class="example-spacer"></span>
  <button
    (longTouch)="onLongClick()"
    (longPress)="onLongClick()"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
