<div class="menu-container">
  <ng-container *ngFor="let currEntry of menu">
    <div class="menu-entry" [routerLinkActive]="'is-active'">
      <a
        [routerLink]="[currEntry.path]"
        (click)="navigated.emit(currEntry.identifier)"
      >
        <button
          mat-icon-button
          class="nav-button"
          aria-label="Example icon-button with share icon"
        >
          <lib-jhp-icon>{{ currEntry.icon }}</lib-jhp-icon>
          <div *ngIf="false || !currEntry.icon">
            {{ currEntry.identifier + "_Label" | translate }}
          </div>
        </button>
      </a>
    </div>
  </ng-container>
</div>
