.menu-container {
  display: flex;
  // flex-direction: column;
  gap: 5px;
  .menu-entry {
    a {
      color: black;
    }
    &.is-active {
      // margin-left: 15px;

      font-weight: bold;
      a {
        color: rgb(255, 0, 0);
      }
    }
  }
}
