<div class="heading">
  <!-- <button
    (click)="toggleList()"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <div class="title-button">
      <lib-jhp-icon>{{
        isAquiredListSelected ? "shopping_cart_checkout" : "shopping_cart"
      }}</lib-jhp-icon>
      <span>{{
        (isAquiredListSelected ? "Aquired_Label" : "Planned_Label") | translate
      }}</span>
    </div>
  </button> -->
  <ng-container *ngFor="let mode of ShopListMode | enumToArray; let i = index">
    <button (click)="changeMode(i)">{{ mode }}</button>
  </ng-container>

  <span
    ><span>Total: </span>{{ itemsTotal | cents2eur | currency : "EUR" }}</span
  >
</div>

<div class="shop-lists-panel">
  <app-shop-list
    *ngIf="currMode == ShopListMode.Planned"
    [itemslist]="getPlanned()"
    [listMode]="ShopListMode.Planned"
  ></app-shop-list>

  <app-shop-list
    #aquired
    *ngIf="currMode == ShopListMode.Aquired"
    [listMode]="ShopListMode.Aquired"
    [itemslist]="getAquired()"
  ></app-shop-list>

  <app-shop-list
    #discarded
    *ngIf="currMode == ShopListMode.Discarded"
    [listMode]="ShopListMode.Discarded"
    [itemslist]="getDiscarded()"
  ></app-shop-list>
</div>
