<div class="heading">
  <!-- <ng-container *ngFor="let mode of ShopListMode | enumToArray; let i = index">
    <button (click)="changeMode(i)">{{ mode }}</button>
  </ng-container> -->

  <ng-container *ngFor="let page of pages; let i = index">
    <div class="modeButton" [class.active]="i === currPageIdx">
      <button (click)="changeMode(i)">{{ ShopListMode[page] }}</button>
    </div>
  </ng-container>

  <span
    ><span>Total: </span>{{ itemsTotal | cents2eur | currency : "EUR" }}</span
  >
</div>

<!-- <pre>{{ currPage | json }}</pre> -->

<div class="shop-lists-panel">
  <app-shop-list
    *ngIf="currPage == ShopListMode.Planned"
    [itemslist]="getFilteredItems(ShopListMode.Planned)"
    [listMode]="ShopListMode.Planned"
  ></app-shop-list>

  <app-shop-list
    #aquired
    *ngIf="currPage == ShopListMode.Aquired"
    [listMode]="ShopListMode.Aquired"
    [itemslist]="getFilteredItems(ShopListMode.Aquired)"
  ></app-shop-list>

  <app-shop-list
    #discarded
    *ngIf="currPage == ShopListMode.Discarded"
    [listMode]="ShopListMode.Discarded"
    [itemslist]="getFilteredItems(ShopListMode.Discarded)"
  ></app-shop-list>
</div>
