.example-card {
  max-width: 400px;
  width: 100px;
  min-width: 100px;
  img {
    height: 90px;

    object-fit: cover;
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-card {
  &.cardModeLabel {
    overflow: hidden;
    mat-card-content {
      position: absolute;
      bottom: 0px;
      background-color: rgb(255 255 255 / 40%);
      width: 100%;
      /* color: white; */
      box-sizing: border-box;
      padding: 2px 5px;
      font-weight: bold;
      text-align: center;
    }
  }
}
