<div class="wrapper">
  <header>
    <app-jhp-toolbar
      (buttonClick)="onToolbarAction($event)"
      [title]="title"
      [icon]="'storefront'"
    >
    </app-jhp-toolbar>
  </header>
  <main>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
        <p>this is a sidenav drawer</p>
        <app-jhp-language-switcher></app-jhp-language-switcher>
      </mat-drawer>
      <div (swipeleft)="swipeLeft()" (swiperight)="swipeRight()">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </main>
  <footer>
    <app-jhp-toolbar
      (buttonClick)="onToolbarAction($event)"
      [menuPosition]="MenuPositionEnum.Right"
    >
      <app-nav-main (navigated)="onNavigated($event)"></app-nav-main>
    </app-jhp-toolbar>
  </footer>
</div>
