<!-- <header>
  <app-jhp-toolbar (buttonClick)="onToolbarAction($event)"></app-jhp-toolbar>
</header>
<main>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <p>this is a sidenav drawer</p>
      <app-nav-main></app-nav-main>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</main>
<footer>Sticky Footer</footer> -->

<div class="wrapper">
  <header>
    <app-jhp-toolbar (buttonClick)="onToolbarAction($event)"></app-jhp-toolbar>
  </header>
  <main>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="over">
        <p>this is a sidenav drawer</p>
        <app-nav-main (navigated)="onNavigated($event)"></app-nav-main>
        <app-jhp-language-switcher></app-jhp-language-switcher>
      </mat-drawer>
      <router-outlet></router-outlet>
    </mat-drawer-container>
  </main>
  <footer>Sticky Footer</footer>
</div>
