<div [class.listModeAquired]="listMode == ShopListModeEnum.Aquired">
  <!-- <h2 class="list-title">
    {{ ShopListModeEnum[listMode] + "_Label" | translate }}
  </h2> -->
  <ng-container *ngFor="let currGroup of itemsList | categorized">
    <h3 class="category-title">
      {{ ProductCategoryKindEnum[currGroup.category] + "_Label" | translate }}
    </h3>
    <div class="items-container">
      <ng-container *ngFor="let currItem of currGroup.items">
        <app-shop-item
          [item]="currItem"
          (itemChange)="onItemChanged($event)"
        ></app-shop-item>
      </ng-container>
    </div>
  </ng-container>
  <lib-base-button
    class="btn-add"
    label="Add2"
    (clicked)="onClickAdd($event)"
  ></lib-base-button>
</div>
